@import url('main.css');
@import url('ourHistory.css');
/* @import url('discover.css'); // it broke the header */


header {
	background-image: url('../images/header-howto-mobile.jpg');
}

	.header_title {
		text-align: center;

		margin: 16em 0;
	}

.main_nav {
	padding-top: 0;
}

	.header_title > h2 {
		visibility: visible;
		color: var(--font-color-beige);
		text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	}

		.menu_btn_burger {
			background: var(--font-color-drky);
		}

		/* top and bottom lines */

		.menu_btn_burger::before,
		.menu_btn_burger::after {
			background: var(--font-color-drky);
		}


/* sections */

	/* Tide Versatile */

	.tide-versatile {
		height: 14em;
	}
		.tide-versatile > p {
			margin: 0.5em 0;
		}

		.tide-versatile > h3 {
			color: var(--font-color-beige);
		}

	/* How to */

		.ht-boxes {
			width: 100%;
			display: flex;
			flex-direction: column;
		}

		.ht-boxes > div {
			width: 100%;
			height: 200px;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;

			background-size: cover;
		}

		.ht-boxes > div > h2 {
			cursor: pointer;
		}

				.box1 {
					background-image: url('../images/bg-white-375w.jpg');
				}

				.box2 {
					background-image: url('../images/bg-green-375w.jpg');
				}

				.box3 {
					background-image: url('../images/bg-drky-375w.jpg');
				}
					.box3 > h2 {
						color: var(--font-color-green);
					}
					.box3 > p {
						color: var(--font-color-green);
					}

	/* TABLET */

	@media screen and (min-width: 768px) {

		.header_title {
			margin: 24em 0;
		}


		.ht-boxes > div {
			height: 300px;
		}

		.box1 {
			background-image: url('../images/bg-white-1920w.jpg');
		}

		.box2 {
			background-image: url('../images/bg-green-1920w.jpg');
		}

		.box3 {
			background-image: url('../images/bg-drky-1920w.jpg');
		}
	}


	@media screen and (min-width: 1024px){

		header {
			background-image: url('../images/header-howto-desktop.jpg');
		}

		.menu_btn_burger {
			background: var(--font-color-beige);
		}

		/* top and bottom lines */

		.menu_btn_burger::before,
		.menu_btn_burger::after {
			background: var(--font-color-beige);
		}

		.header_title {
			margin: auto;
		}

		/* Tide Versatile */

			.tide-versatile {
				display: flex;
				flex-direction: column;

				height: 12em;
			}

	}


	@media screen and (min-width: 1280px) {

		/*desktop nav */

		.desktop_nav, .btn_nav {
			color: var(--font-color-beige);
		}

		.desktop_nav ul > li:hover {
			color: var(--font-color-beige);
		}

		.desktop_nav ul > li:last-child {
			border-color: var(--font-color-green);
			color: var(--font-color-green);
		}

		.desktop_nav ul > li:last-child:hover {
			color: var(--font-color-beige);
			background-color: var(--font-color-green);
		}

		/* Tide Versatile */

		.tide-versatile {
			height: 20em;
		}

		/* boxes */

		.ht-boxes > div {
			height: 400px;
			text-align: center;
		}

		.ht-boxes > div > p {
			padding: 0 8em;
		}


}
