@import url('main.css');


header {
	background-image: url('../images/header-discover-mobile.jpg');
}
/* Story Container */



.story-cont {
	display: grid;
	grid-template-columns: 1fr;
}

	.story-cont {
		color: var(--font-color-drky);
	}

	.story-box {
		height: 12em;
		width: 100%;
	}

	.story-box:nth-of-type(2) > h3, .story-box:nth-of-type(3) > h3 {
		color: var(--font-color-drky);
	}

/* Media Queries Tablet */

@media screen and (min-width: 768px) {

	header {
		background-image: url('../images/header-discover-desktop.jpg');
	}

	.story-box {
		height: 18em;
	}

	.story-box > h3 {
		padding: 0 2em;
	}

	.story-cont {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

}

@media screen and (min-width: 1024px) {
	.header_title {
		margin: 14em auto;
		text-align: center;
	}
}

/* Media Queries Desktop */

@media screen and (min-width: 1280px) {

	.header_title {
		margin: 16em auto 14em auto;
	}

	.story-box {
		height: 80vh;
		text-align: center;
	}

	.story-box > h3 {
		padding: 0 2em;
	}

	.story-cont {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

}
